# Python for Data Analysis - A Critical Line-by-Line Review

In this post, I will offer my review of the book, Python for Data Analysis by Wes McKinney. My name is Ted Petrou and I am an expert at pandas and author of the recently released Pandas Cookbook. I thoroughly read through PDA and created a very long, 50-page review that is available on github. This post provides some of the highlights of the full review.

## What is a critical line-by-line review?
I read this book as if I was the only technical reviewer and I was counted on to find all the possible errors. Every single line of code was scrutinized and explored to see if a better solution existed. Having spent nearly every day of the last 18 months writing and talking about pandas, I have formed strong opinions about how it should be used. This critical examination lead to me finding fault to quite a large percentage of the code. This resulted in a lengthy 50-page review that would be overwhelming for a general blog post.

## Review Focuses on Pandas
The main focus of PDA is on the pandas library but it does have material on basic Python, IPython and NumPy, which are covered in chapters 1-4 and in the appendices. The pandas library is covered in chapters 5-14, which will be the primary focus of this review.

## Overall Summary of PDA

#### PDA is like a Reference Manual
PDA is written very much like a reference manual, methodically covering one feature or operation before moving onto the next. The current version of the official documentation is a much more thorough reference guide if you are looking to learn pandas in a similar type of manner.

#### Little Data Analysis
There is very little actual data analysis and almost no teaching of common techniques or theory that are crucial to making sense of data. 

#### Uses Randomly Generated Data
The vast majority of examples use randomly generated or contrived data that bear little resemblance to what data actually look like in the real world. 

#### Operations are Learned in Isolation
For the most part, the operations are learned in isolation, independent from other parts of the pandas library. This is not how data analysis happens in the real-world. Often, many commands from different sections of the library will be needed to be combined together to get a desired result.


#### Is Already Outdated
Although the commands will will work for the current pandas version 0.21, it is clear that the book was not updated past version 0.18. This is clear because the `resample` method gained the `on` parameter in version 0.19 which was absent in PDA. The powerful and popular function `merge_asof` was also added in version 0.19 and is not mentioned once in the book.

#### Lots of Non-Modern and Non-Idiomatic Code
There were numerous instances were it was clear that book was not updated to show more modern code. For instance, the `take` method is almost never used and completely replaced by the `iloc` indexer.

#### Indexing Confusion
One of the most confusing things for newcomers to pandas are the multiple ways to select data with the indexing operator `[]`, `.loc` and `.iloc`. There is not enough detailed explanations for the reader to walk away with a thorough understanding of each.

# Chapter-by-Chapter Review
In this next section I will give short summaries of each chapter followed by more details on specific code snippets.

# Chapter 5. Getting Started with pandas


### What it covers
* construction of Series and DataFrames
* basic selection with `[]`, `.loc` and `.iloc`
* simple functions/methods like `isnull/notnull`, `head/tail`, `sort_values/sort_index`, `drop`
* basic summary methods `describe`, `max`, `mean`, `value_counts` 
* more complex methods like `reindex`, `apply`, `applymap`, `map`
* a pinch of data alignment
* new column creation
* simple correlation and covariance
* simply boolean selection

## Chapter 5. Summary:
Chapter 5 covers an introduction to the primary pandas data structures, the Series and the DataFrame. The commands in this chapter can almost all be found directly in the pandas official documentation. There is actually more depth in the official documentation. For instance, the book begins by producing a near replica of the intro section of the documentation (http://pandas.pydata.org/pandas-docs/stable/dsintro.html). All of the index selection in the chapter is covered in greater detail in the indexing section of the documentation - http://pandas.pydata.org/pandas-docs/stable/indexing.html. Like most of the book, this chapter uses randomly generated or contrived data that has little application to real data analysis.

## Chapter 5 Main Criticisms
The book begins by erroneously stating that the Series and DataFrame constructors are used often. They are not, and most data is read directly into pandas as a DataFrame with the `read_csv` function or one of the many other `read_*` functions. I would also not encourage people to import the constructors directly into their global namespace like this:

```
from pandas import Series, DataFrame
```

It is much more common to just import pandas by itself and alias it to `pd`

```
import pandas as pd
```

#### Series and DataFrame constructors
The first real line of code creates a Series with its constructor. I don't think Series and DataFrame construction should be covered first as it's typically not used at all during most data analyses. I also don't like the variable name `obj` to refer to the Series. I like to be more verbose and would refer to it as `ser` or `s`. DataFrames are given the better name `frame` but this is not typical of what is used throughout the pandas world. The documentation uses `s` for Series and `df` for DataFrames. On one occasion, the DataFrame is given the name `data`. Whatever name is used should be consistent.

#### Indexing
One of the next operations is selection of some data through the indexing operator itself `[]` on a Series.  This is a severe mistake. I highly discourage all pandas users to use the indexing operator by itself to select elements from a Series. It is ambiguous and not at all explicit. Instead, I advise to always use `.loc/.iloc` to make selections from a Series. The only recommended use for the indexing operator is when doing boolean indexing.

```
>>> s = pd.Series(data=[9, -5, 13], index=['a', 'b', 'c'])
>>> s
a     9
b    -5
c    13
dtype: int64

# The indexing operator can take integers or labels and thus is ambiguous

>>> s[1]
-5

>>> s['b]
-5

### Should use .iloc for integers and .loc for labels

>>> s.iloc[1]
-5

>>> s.loc['b']
5
```

#### DataFrame style output
I also don't like the raw non-stylized output of the DataFrames. Most people will be using Jupyter Notebooks when covering this book and it would make more sense to have the visual display of DataFrames match what they see. It would also be nicer to see a clearly labeled image of the DataFrame and Series components as is done in Pandas Cookbook.

DataFrame Anatomy
![](images/dataframe_anatomy.png)

Series Anatomy

![](images/series_anatomy.png)

#### apply method
I really don't like teaching the `apply` method so soon as beginners almost always misuse it. There is almost always a better and more efficient alternative. In one of the cases, `apply` is used to aggregate by calling a custom function on each row. This is completely unnecessary, as there exists a quick and easy way to do with built-in methods.


```
>>> df = pd.DataFrame(np.random.randn(4, 3), columns=list('abc'),
        index=['Quebec', 'Ontario', 'Alberta', 'Nova Scotia'])
>>> df
```
![](images/05_1_provinces.png)

```
### misuse of apply
>>> df.apply(lambda x: x.max() - x.min())
a    2.600356
b    0.880358
c    2.039398
dtype: float64

### idiomatically
>>> df.max() - df.min()
a    2.600356
b    0.880358
c    2.039398
dtype: float64
```

I understand that a contrived example is used here to understand the mechanics of `apply`, but this is exactly how new users get confused. `apply` is an iterative and slow method that should only be used if no other more efficient and vectorized solution exists. It is crucial to think of vectorized solutions not iterative ones. I see this mistake all the time answering questions on stack overflow.

## Chapter 5. Comparison to Pandas Cookbook
DataFrame and Series construction is not covered as it is easily found in the documentation as mentioned previously. Pandas Cookbook spends 200 pages in chapters 1 through 6 to cover the fundamentals of the library using more interesting examples and real-world datasets. This includes sections:
* Identifying each piece of the anatomy of DataFrames and Series
* Understanding each data type and how to change them
* Calling method in succession, called method chaining, which is mostly absent from PDA
* Formalizing a routine whenever first importing a dataset
* Selecting data in every idiomatic way possible
* An entire chapter on boolean indexing
* An entire chapter on index alignment, a very important topic that separates pandas from most other libraries
* Much, much more in those first 6 chapters

## Chapter 5. More Detailed Criticism

One of the first code block mixes boolean indexing, vectorized multiplication and a numpy function being applied to a Series. There is too much functionality at once. I suppose this is covered in the NumPy chapter but I would break each of these operations out into their own sections, especially boolean indexing, which is quite a difficult concept for beginners to grasp.

```
>>> s = pd.Series(np.random.rand(3))
>>> s[s > .5]
>>> s * 2
>>> np.sqrt(s)
```

PDA uses `’label’ in s` where s is a Series. This is not explicit. I think it would be better to do `’label’ in s.index` first and then explain how to use the implicit way.

PDA uses a dictionary to create a Series with the additional parameter `index` passed a list where one of the values is not in the dictionary. Pandas actually allows this and creates a missing value. This is unnecessary complexity that is not needed at this point and is such a minute detail. It would be better reserved in a later chapter on more intricacies of constructor methods.

```
### Too complex and not used often for first pandas chapter
>>> s = pd.Series({'a':1, 'b':10}, index=['a', 'b', 'c'])
>>> s
a     1.0
b    10.0
c     NaN
dtype: float64
```

PDA uses the `isnull` and `notnull` functions to create a boolean Series and then shows how to do the same thing with the methods. I don't like introducing two operations to do the same thing. The more common way of doing this is with methods and not functions. The functions should be reserved for later chapters. I actually hardly ever use the `isnull/notnull` functions.

```
### Should use method and not function
>>> s.isnull()
>>> s.notnull()
```

PDA renames both the index level and the Series name with attributes. There is no context here why this is useful. I would save this for later when using `reset_index` which will use these attributes.

```
>>> s = pd.Series({'table':100, 'chair':40})
>>> s
chair     40
table    100
dtype: int64

# Using reset_index pandas creates a DataFrame of two columns with default values for the column names
>>> s.reset_index()
```

![](images/05_02_reset_index.png)

``` 
>>> s.name='price'
>>> s.index.name='item'
>>> s.reset_index()
```

![](images/05_03_reset_index.png)


PDA randomly uses the `loc` indexer with no explanation, towards the beginning of the chapter with `frame2`, which is likely to confuse the reader. It's not brought up again until several code blocks later. This should all be together.

PDA uses the delete statement which isn't really ever used (I never use it). The `drop` method is idiomatic.

PDA uses a nested dictionary of dictionaries to create a DataFrame. Again, it's not very useful to have this as one of your first interactions with pandas. It's rarely used.

#### 5.2 Essential Functionality

Ironically, the first thing under the section ‘Essential functionality’ is the `reindex` method which is only used twice in the entire book. If it’s so important, why is it used so infrequently? It is a useful method but it’s certainly not essential for those just being introduced to pandas.

PDA uses the `drop` method with the `inplace` parameter which I never use, is not idiomatic, and which will be removed from future versions of pandas.

There is even more selection with the indexing operator on a Series to  perform a slice. Again, this is not explicit. I always suggest using `loc` for labeled selection.

PDA uses the indexing operator on a DataFrame. This is where lots of confusion is bound to happen. Passing a slice to the indexing operator is completely different than passing a scalar. The former selects rows and the latter, columns. PC has an entire recipe on this and then suggests not using slice notation for the indexing operator in a DataFrame as its primary function is to select columns and not rows. An example should clear this up:

```
>>> df = pd.DataFrame(np.random.rand(4, 3),
                      columns=['Table', 'Chair', 'Bed'],
                      index=['a', 'b', 'c', 'd'])
>>> df
```

![](images/05_04_df.png)


The primary purpose of the indexing operator is to select columns:
```
>>> df[['Table', 'Bed']]
```

![](images/05_04_dfslice.png)

Confusingly, the indexing operator selects rows when given a slice

```
>>> df[2:]
```

![](images/05_05_df.png)

PDA uses the `.loc` indexer by simultaneously selecting rows and columns. This is done by passing in row selection followed by a comma followed by column selection. I don’t like this introduction and prefer doing rows first followed by simultaneous selection. PC makes it very clear how the first element passed to `.loc` selects rows.

PDA then uses some poor syntax with `df.iloc[:, :3][df.three > 5]`. It's bad practice and confusing to use indexing operators back to back like that. For beginners, I prefer doing this in two separate steps. I would then transition to showing a simultaneous boolean indexing with column selection in a single call to `.iloc` like this: `df.iloc[df.three.values > 5, :3]`. In fact, I would first do simultaneous boolean indexing and column selection with `.loc`. And, I would certainly never use the syntax from above.

The section on 'Integer Indexes' is only going to confuse readers. This is why I suggest always using .loc/.iloc and only use the indexing operator for boolean indexing and DataFrame column selection. There are actually quite a few rules about how selection works with the indexing operator with several edge cases. I thought about diagraming this out in Pandas Cookbook, but thought better of it, as its very nuanced, hard to remember, and there are more preferable ways.

The arithmetic methods with fill_values is fine but again has boring, fake data. There are lots more index alignment between two pandas objects, which is a fundamental part of pandas.

PDA makes another particularly bad use of `apply` when it uses it to return the min and max of each column like this:

```
>>> df = pd.DataFrame(np.random.rand(2, 3), 
                      index=['a', 'b'], 
                      columns=['Table', 'Chair', 'Bed'])
>>> def f(x):
        return pd.Series([x.min(), x.max()], index=['min', 'max'])
        
>>> df.apply(f)
```

![](images/05_06_df.png)

This would have been a great chance to use the newly added `agg` DataFrame method which returns the same exact DataFrame is a much simpler way:

```
>>> df.agg(['min', 'max'])
```

The newer versions of pandas-datareader have cleaner access to the main DataReader class. This is small but I prefer this:

```
>>> import pandas_datareader as pdr
>>> pdr.DataReader('IBM', 'yahoo')
```

There is a small language error. `pd.value_counts` is a top-level function and not method. I also hardly ever use the function and would suggest people stick with methods, when they exist, as this is much more common.

PDA uses the `apply` function with `pd.value_counts` in a very confusing manner. PDA should have definitely used strings to differentiate the counts. Here is the original, confusing DataFrame:

```
>>> df = pd.DataFrame({'a': [1, 3, 4, 3, 4],
                       'b': [2, 3, 1, 2, 3],
                       'c': [1, 5, 2, 4, 4]})
# Very confusing here
>>> df.apply(pd.value_counts)

```

![](images/05_07_vc.png)

Just some better fake data would be better:

```
>>> df = pd.DataFrame({'a': ['table', 'chair', 'chair', 'lamp', 'bed'],
                   'b': ['lamp', 'candle', 'chair', 'lamp', 'bed'],
                   'c': ['mirror', 'mirror', 'mirror', 'mirror', 'mirror']})

>>> df.apply(pd.value_counts).fillna(0)

```

![](images/05_08_vc2.png)

There is actually a very interesting and advanced way of doing this combining `crosstab` and `melt`, which preserves data types

```
>>> pd.crosstab(**df.melt(var_name='columns', value_name='index'))
```

# Chapter 6. Data Loading, Storage, and File Formats
### What it covers
* Reading in a variety of txt files with `read_csv/read_table`
* Setting index, data conversion, datetime parsing, skipping rows, set null values on read
* Write to file or standard out with `to_csv`
* iterating through files
* reading in json and xml
* reading/writing binary formats hdf5 and pickle
* reading excel and connecting to sqlite

## Chapter 6. Summary
Chapter 6 covers many of the ways to read data into a pandas DataFrame from a file. There are many functions that begin with `read_` that can import nearly any kind of data format. Almost the entire chapter is covered in greater detail in the [IO Tools section of the documentation](http://pandas.pydata.org/pandas-docs/stable/io.html). There is no actual data analysis in this chapter, just the mechanics of reading and writing files.

## Chapter 6. Criticisms
PDA fails to point out that `read_csv` and `read_table` are the same exact function except that `read_csv` defaults to a comma-separated delimiter and `read_table` defaults to tab separated. There is absolutely no need for both of these functions. It's confusing to go back and forth between these two functions.

There is a section on iterating through a file with the csv module. PDA shows the mechanics of this with a file that actually needs no further processing:

```
>>> pd.read_csv('examples/ex7.csv')
```
The data gets read just fine.

![](images/06_01_csv.png)

PDA then shows how to iterate through this file with the `csv` module. It could have been made much more interesting if there was some actual processing but there is none. It just shows how to iterate through the file. It also shows a confusing subclass of `csv.dialect` which is not needed. All the parameters can be passed directly into the `csv.reader` function.

The `read_html` function uses nearly the [same dataset from the documentation](http://pandas.pydata.org/pandas-docs/stable/io.html#reading-html-content)

There are very short sections on hdf5 and connecting to SQL which will not help you out much if you need to use them in a real situation. As usual, consult the documentation for full details.

## Chapter 6. Comparison to Pandas Cookbook

Chapter 6 is the only chapter that PDA has more coverage than PC. PC does read in lots of datasets but only covers a few of the options of the `read_` functions.

PC has an enormous recipe with a fairly difficult to parse web page on Donald Trump’s vs Barack Obama’s approval rating. It uses several of the read_html parameters to read in just the right data. It then uses time series functionality and matplotlib to create plots.

PC has a real 500k row dataset stored in HDF5 format that is used for many recipes. PC connects to a much more complex SQLite database and provides some info on the schema and makes some complex queries to it using showcasing the `merge` method.

# Chapter 7. Data Cleaning and Preparation
### What it covers
* Finding, dropping and filling missing data with `isnull\notnull`, `dropna`, and `fillna`
* Finding duplicates with `drop_duplicates/duplicated`
* Replacing values with `map` and `replace`
* renaming index/column labels with `rename`
* Binning data with `cut/qcut`
* Encoding variables with `pd.get_dummies`
* Basic string manipulation with Python strings, regex and pandas `str` accessor

## Chapter 7. Summary:
Chapter 7 follows the same pattern of using contrived and randomly generated data to show the basic mechanics of a few methods. It is devoid of actual data analysis and fails to show how to combine multiple pandas operations together. All of the methods in this chapter are covered in much greater detail in the documnetation. Visit the [Working with missing data section](http://pandas.pydata.org/pandas-docs/stable/missing_data.html) to get all the detailed mechanics of missing value manipulation in pandas. The chapter covers just a small amount of string manipulation. Visit the [Working with the Text Data section](http://pandas.pydata.org/pandas-docs/stable/text.html) to get more details.

This chapter contains a large amount of poor and inefficient pandas code. There is an extreme example of looping to fill a DataFrame that can be accomplished in a much more concise code 100x faster.

## Chapter 7.  Criticisms:

The chapter begins by covering the `isnull` method, which is a little confusing because in Chapter 5, the function `pd.isnull` was used. I think a better job of distinguishing between methods and functions would be good here. In the 'Filtering out missing data' subsection, PDA write `pandas.isnull`. This is going to be confusing to beginners. Most people won't know if this a function or method. There is no consistency here. The most common way to get missing values is with the DataFrame/Series method and not the function.

When the first DataFrame is constructed with random data, there is not even an effort to name the columns, so they simply get defaulted to integers which is confusing. 

PDA continually uses `axis=1` to refer to the columns. I highly advise against doing this as it is not as explicit as `axis='columns'`.

#### Filling In Missing Data

The integer columns become a problem when filling in missing data with a dictionary. It is rare to ever have integers as column names in real data and makes it so much more difficult to read. Take this: `df.fillna({1: 0.5, 2: 0})` which replaces the missing values in the column with the name `1` with .5 along and the missing values in the column with the name `2` with 0. 

Notice that the DataFrames are now named `df` which I suggested in chapter 5. This should be consistent throughout the book. Later in the chapter, both DataFrames and Series are named `data`. Just stick to `df` and `s`.

#### Transforming Data Using a Function or Mapping

As was mentioned earlier in the chapter 5 review, there should definitely be a distinction between `map` and `apply`. Ideally, `map` should only be used whenever you are passing a dictionary/Series to literally map one value to another. The `apply` method can only accept functions, so should always be used whenever you pass it a function. Yes, `map` has the same ability to accept functions in the same manner as `apply`, but this is why we need to have a separating boundary between the two methods to avoid confusion. In summary:

* Use `map` only when you want to literally map each value in a Series to another. Your mapping must be a dictionary or a Series
* Use `apply` when you have a function that you want to act on each individual member of the Series.
* Never pass a function to `map`

For instance, there is a Series with data like this:

```
>>> s = pd.Series(['Houston', 'Miami', 'Cleveland'])
>>> states_map = {'houston':'Texas', 'miami':'Florida', 'Cleveland':'Ohio'}
```

PDA says to use a function with `map` like this:

```
>>> s.map(lambda x: states_map[x.lower()])
0      Texas
1    Florida
2       Ohio
dtype: object
```

But if you are going to use a function, you should use `apply` in the same exact manner. It gives the same result and it has more options than `map`.

```
>>> s.apply(lambda x: states_map[x.lower()])
```

There is actually a simpler and more idiomatic way. Generally, your mapping dictionary is going to be much smaller than the size of your Series. It makes more sense to conform the dictionary to the values in your Series. Here, we can simply change the keys in the dictionary (with the `title` string method) to match the values in our Series.

Let's create a Series with 1 million elements and time the difference

```
>>> s1 = s.sample(1000000, replace=True)

>>> %timeit s1.str.lower().map(states_map) # slow from PDA
427 ms ± 12.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

>>> %timeit s1.map({k.title(): v for k, v in states_map.items()})
73.6 ms ± 909 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

```

#### Renaming Axis Indexes
There is some subtle trickiness with when running the command `df.rename(index=str.title, columns=str.upper)`. I like this method but there needs to be more explanation why this works. Most people are used to calling these as methods from an actual string but not through the constructor in this functional way.

It also might be good to mention that you can use the `str` accessor directly on the index and columns like this:

```
>>> df.index = df.index.str.title()
>>> df.columns = df.columns.str.upper()
```

#### Discretization and Binning

The outcome of `pd.cut` is an ordered Categorical. You can see the less than signs between the categories. There should be at least one sentence explaining this.

#### Detecting and Filtering Outliers

There is some boolean indexing to find values in a Series that have absolute value greater than 3. It uses the NumPy function `abs`. NumPy functions should not be used when identical pandas methods are available:

```
>>> s = pd.Series(np.random.randn(1000))
>>> s[np.abs(s) > 3]  # Don't use numpy
>>> s[s.abs() > 3]    # use pandas methods

```

It's not a bad time to introduce inequality methods

```
>>> s[s.abs().gt(3)]
```

Chaining together methods makes it easier to see how the steps are progressing. Take for instance the next code block which does this:

```
>>> df = pd.DataFrame(np.random.randn(1000, 4))
>>> df[(np.abs(df) > 3).any(1)]

Simply and make verbose:

>>> df[df.abs().gt(3).any('columns')]
```

A particularly bad piece of code happens when PDA caps the values in a DataFrame to be between -3 and 3 with this: `data[np.abs(data) > 3] = np.sign(data) * 3`. It is far easier to use the pandas clip method like this: `df.clip(-3, 3)`

#### Permutation and Random Sampling
The `take` method is used which is almost never used and I have never used it. The `.iloc` indexer was created to take integer values. The `take` method provides no additional functionality. This is one of the reasons pandas is confusing. There are multiple methods to do the same thing and `take` is unneeded now.

```
>>> sampler = [5, 2, 8, 10]
>>> df.take(sampler) # outdated - dont use
>>> df.iloc[sampler]  # idiomatic

Using `np.sign` to convert DataFrame values t0 -1/1 is pretty swift.
There is strange use of `np.sign` where a much easier pandas method `clip` exists
```
#### Computing Indicator/Dummy Variables
This section has one of the worst code examples in the entire book. It does finally use real data. It reads in the data in a way that produces a warning. It should also use `read_csv` as again, it is the same exact function as `read_table`.

```
>>> mnames = ['movie_id', 'title', 'genres']
>>> movies = pd.read_table('datasets/movielens/movies.dat', sep='::',
                       header=None, names=mnames)
                       
# Produces a warning
/Users/Ted/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until
  
# Shold be this

>>> movies = pd.read_csv('datasets/movielens/movies.dat', sep='::', engine='python',
                       header=None, names=mnames)
```                       

And I really dislike using the indexing operator to slice for rows. Use `head` instead.

```
>>> movies[:10] # ambiguous
>>> movies.head(10) # use this instead
```
It continues iterating through the genres column which has strings of pipe separated values. It uses a combination of numpy, pandas and core python. This is a good opportunity to stay completely in pandas.

```
>>> movies.genres.str.split('|', expand=True).stack().unique()
```

This continues the use of the `str` accessor which is central to pandas string processing. PDA uses the builtin string methods unfortunately. It is true that the `stack` method has not been introduced but it works nicely here.

To avoid `stack` you can do the following which is simpler than what is found in PDA:

```
>>> {g for genre in movies.genres.str.split('|') for g in set(genre)}
```

One of the most inefficient pieces of code in the entire books comes next where a DataFrame is constructed to show indicator columns (0/1) for each genre. The code creates an all zeros DataFrame then fills it with the rarely used `get_indexer` Index method.

```
>>> zero_matrix = np.zeros((len(movies), len(genres)))
>>> dummies = pd.DataFrame(zero_matrix, columns=genres)

>>> for i, gen in enumerate(movies.genres):
        indices = dummies.columns.get_indexer(gen.split('|'))
        dummies.iloc[i, indices] = 1

>>> movies_windic = movies.join(dummies.add_prefix('Genre_'))
>>> movies_windic.head()
```

![](images/07_01_movies.png)

This code is incredibly slow and not idiomatic. The `movies` DataFrame is only 3,883 rows and takes a whopping **1.2** seconds to complete. There are several methods are much faster.

An iterative approach would simply create a nested dictionary of dictionaries and pass this to the DataFrame constructor:

```
>>> d = {}
>>> for key, values in movies.genres.items():
        for v in values.split('|'):
            if v in d:
                d[v].update({key:1})
            else:
                d[v] = {key:1}       
>>> df = movies.join(pd.DataFrame(d).fillna(0))
```

This takes only **14** ms about 85 times faster the approach used in PDA.

Another method uses `pd.get_dummies` by first stacking all the genres into a single Series. This requires you to group by the original index and sum up all the rows:

```
>>> genres_stacked = movies.genres.str.split('|', expand=True).stack()
>>> df_ind = pd.get_dummies(genres_stacked)
>>> df_ind_total = df_ind.groupby(level=0).sum()
>>> movies.join(df_ind_total)
```

This method actually has the benefit of keeping the data types as ints instead of floats. It also uses `pd.get_dummies` which was just introduced.

#### Regular Expressions

PDA fails to mention the term 'capture group' which is common terminology for using parentheses around parts of an expression.


#### Vectorized String Functions in pandas

This is a small section that won't help much. Again check the documentation for a huge number of examples

## Chapter 7. Comparison to Pandas Cookbook
There is no one chapter that focuses solely on data cleaning. Many of these methods are woven into several different recipes with real-life scenarios. There are a few interesting examples where binning continuous variables can make a huge difference during a data analysis such as when uncovering Simpson's paradox in the last recipe. The `get_dummies` method is quite useful but did not make it into PC.

# Chapter 8. Data Wrangling: Join, Combine, and Reshape
### What it covers
* Creating a multiindex Series
* Selection of a MultiIndex
* Naming index levels
* Swapping and sorting MultiIndexes with `swaplevel` and `sort_index`
* Setting and resetting an index with `set_index` and `reset_index`
* Combining DataFrames and Series with `merge`, `join`, `np.concatenate`, `pd.concat` and `combine_first`
* Reshaping with `stack/unstack` and `pivot/melt`

## Chapter 8. Summary:

Chapter 8 is another chapter with fake data and covers very basic mechanics of many operations independently. There is very little code that combines multiple pandas methods together like is done in the real world. The hierarchical indexing is likely going to confuse readers as it is quite complex. I suggest reading the [documentation on hierarchical indexing](http://pandas.pydata.org/pandas-docs/stable/advanced.html). It will take awhile to grasp the mechanics of row and column selection.

The sections on `merge` and `join` don't cover the differences between the two well enough and the examples again are very dry. For a more detailed summary of these methods, [see the docs](http://pandas.pydata.org/pandas-docs/stable/merging.html)

## Chapter 8.  Criticisms:
This chapter, again, begins by using the name `data` to refer to a Series. No consistency again. A Series with a MultiIndex is created and then different types of selection begin. Making a selection to a DataFrame and Series is actually very complex and not frequently done so easy to forget. 

In one block of code both the indexing operator and `.loc` are used to select Series elements. This is confusing and as I've said multiple times, stick with using only `.loc/.iloc` except when doing boolean indexing.

It should be mentioned that passing a scalar element to the indexer does not return that level. For instance:

```
>>> s = pd.Series([10,3,2,11], index=[['a', 'a', 'b', 'b'],[1,2,3,1]])
>>> s
a  1    10
   2     3
b  3     2
   1    11
dtype: int64

>>> s.loc['a'] # returns a single index Series
1    10
2     3
dtype: int64

>>> s.loc[['a']] # Preserves the MultiIndex
a  1    10
   2     3
dtype: int64
```

It is also not mentioned that the outer level gets selected first.

Perhaps, one of the most confusing selections is made next

```
>>> data.loc[:, 2]
```

Normally, a comma is used to separate row from column selections. Here it is selecting all of the outer level values that have the integer label 2 as the inner level. This gets more complicated when dealing with DataFames as this is just a Series. There should have been a section covering MultiIndex selection for DataFrames with several examples to clarify this.

The axis levels are renamed by assigning the attributes directly. There is no mention of the newer `rename_axis`, which I use quite frequently.

#### Reordering and Sorting Levels

The `swaplevel` and `sort_index` levels are both passed the level numbers for most of their operations instead of the level names. I always use level names when available as its explicit and easy to forget the level number.

#### Database-Style DataFrame Joins

The first two DataFrames in this section have the `key` as the second column. Relational databases have this column first. PDA should have put this column first and any other non-key columns after.


There are many pages that show the basic mechanics of merge, join, concat and combine_first with fake data.

#### Pivoting “Long” to “Wide” Format
Finally we get to a more interesting situation. There needs to be a mention of tidy vs messy data here from the Hadley Wickham . The current dataset is actually tidy and doesn't need any reshaping at all. And when the data is reshaped into 'long' data it actually becomes messy. The `reset_index` method has the `name` parameter to rename the Series values when it becomes a column. There is no need for a separate call to 

Also, there is an unnecessary call of the `rename` method.

```
>>> ldata = data.stack().reset_index().rename(columns={0: 'value'}) # unecessary

### can shorten to:
>>> ldata = data.stack().reset_index(name='value')
```

#### Pivoting “Wide” to “Long” Format
In version 0.20 of pandas, the `melt` method was introduced. PDA uses the `melt` function which still works but going forward its preferable to use methods if they are available and do the same thing.

## Chapter 8. Comparison to Pandas Cookbook
PC creates numerous DataFrames that have MultiIndexes and shows how to rename levels with the `rename_axis` method. PC uses two chapters and over 100 pages to cover the material in this section. It covers a much greater variety of reshaping situations mainly dealing with Hadley Wickham's Tidy Data principles. All of the common types of messy datasets are reshaped into tidy data. 

The merge, join and concat methods/functions are covered in greater detail. The merge method is used in a more real setting by connecting to a relational database.

# Chapter 9. Plotting and Visualization
### What it covers
* Introduction to matplotlib
* Creating Axes and Figures
* iterating through axes arrays and plotting
* colors, linestyles, markers
* ticks, labels, legends, text annotation
* setting Axes properties
* Adding patches
* Very basic pandas and seaborn plotting

## Chapter 9. Summary:
Matplotlib is covered very lightly without the depth needed to understand the basics. Matplotlib has two distinct interfaces that users interact with to produces visualizations. This is the most fundamental piece of the library that needs to be understood. PDA uses both the stateful and object-oriented interfaces and sometimes in the same code-block. The matplotlib documentation specifically warns against doing this. Since this is just a small introduction to matplotlib, I think it would have been better to cover a single interface.

The other concept to grasp the Figure-Axes hierarchy which is not explicitly mentioned. This is key to understanding how all plots work in matplotlib.

The actual plotting is done mostly with random data and not in a real setting with multiple pandas operations taking place. It is a very mechanical chapter on how to use a few of the plotting features from matplotlib, pandas and seaborn.

Matplotlib now has the ability to accept directly pandas DataFrames, which was left out of PDA.

The other major issue with the chapter is the lack of comparison between pandas and seaborn plotting philosophies. Pandas uses wide or aggregated data for most of its plotting functions while seaborn needs tidy or long data.


## Chapter 9.  Criticisms:

It's a big mistake to not clarify the two different interfaces to make plots with matplotlib. It is only mentioned in passing that there are even two interfaces. You will have to attempt to infer from the code which one is which. Matplotlib is known for being a confusing library and this chapter perpetuates that sentiment.

PDA creates a figure with the `figure` method and then goes on to add subplots one at a time with `add_subplot`. I really don't this introduction as there is no introduction to Figure - Axes hierachy. This hierarchy is crucial to understanding everything about matplotlib and its not even mentioned. 

There is a link to the matplotlib home page which won't help anyone find a particular item. PDA should have linked to specific parts of the documentation.

The code block that adds patches, mixes the stateful and object-oriented interfaces. The matplotlib documentation says explicitly not to do this.

It should be noted that matplotlib plotting functions can now take pandas DataFrames beginning from version 1.5. Not sure why this was not in PDA.

When PDA moves to plotting with pandas, only a simple line plot and a few bar plots are created. There are several more plots that pandas is capable of creating - some with one variable and others with two variable. The stacked area plot is one of my favorites and isn't mentioned in PDA.

All the pandas plotting uses the format `df.plot.bar` instead of `df.plot(kind='bar')`. They both produce the same thing, but the docstrings for the `df.plot.bar` is minimal which makes it much more difficult to remember the correct parameter names.

PDA moves onto seaborn. There should be a very important distinction made between seaborn and pandas plotting. Seaborn uses long or tidy data, while pandas mainly uses wide or aggregated data. This is what makes seaborn so powerful. 

The data used for the pandas and seaborn plotting is the `tips` dataset that comes packaged with the seaborn library. There should have been more effort to find real datasets.

Very little of the seaborn library was discussed and there was no mention of the difference between the seaborn functions that return an Axes vs those that return a seaborn Grid. This is crucial to understanding seaborn. The [seaborn docs](http://seaborn.pydata.org/tutorial.html) are much better than the little summary in PDA.

## Chapter 9. Comparison to Pandas Cookbook
PC covers matplotlib quite differently and first ensures that the reader is aware of the dual interface. It then proceeds to only cover the object-oriented interface as it is more Pythonic and gives more control. PC then covers the Figure - Axes hierarchy and makes sure that the reader understands that an Axes is matplotlib terminology for the plotting surface and not a plural for axis. 

PC covers the 'getter' and 'setter' methods that matplotlib uses to retrieve and change all the properties in the plot. The object-oriented interface is explicit and forces you to 'latch' onto objects in order to change their properties.

PC focuses on combining multiple pandas operations together, and not just showing how independent commands function in isolation. For instance, PC uses historical movie budget data to calculate and then plot the rolling average over time. 

PC shows how pandas has been integrated into matplotlib by the addition of the `data` parameter. 

PC covers the difference between pandas and seaborn plotting clearly as mentioned above. PC uses boxplots to discover outlier flights that took much longer than expected to reach their destinatinon.

One of my favorite recipes in PC is the discovery of emerging trends with data science meetup group data using a stacked area plot.

PC has a recipe showing how pandas and seaborn create the same plot. This really makes it clear what the differences are.

PC uses seaborn to graph up to 5 dimensions of data on the same Figure. This allows for an uncovering of Simpson's paradox, which is a commonly hidden in many datasets.

# Chapter 10. Data Aggregation and Group Operations
### What it covers
* Grouping single/multiple columns and then aggregating single/multiple columns with single/multiple functions
* Grouping by independent sequences not in DataFrame
* Iterating over groups
* Grouping with functions
* Custom aggregating functions
* Generic grouping with `apply`
* Filling missing values in a group
* Grouping with `axis=1`
* Randomly sampling groups
* Finding correlations within groups
* Pivot tables and crosstabulation


## Chapter 10. Summary:



## Chapter 10.  Criticisms:

The chapter begins with an image of the split-apply-combine process. In it, the 'key' column is on the left with the values on the right. In the first DataFrame created following this section the key columns come last. They should come first to match the image. Also, relational databases always place their key columns first before all other data.

The groupby mechanics are introduced with the following syntax:

```
>>> grouped = df['data1'].groupby(df['key1'])
```

No one uses this syntax. I think the more common `df.groupby('key')['data']` should have been used first. This common syntax is covered a few code blocks later but it is confusing to cover  this unused syntax first.

#### Iterating Over Groups
PDA says that a useful recipe for getting groups is the following:

```
>>> pieces = dict(list(df.groupby('key1')))
>>> pieces['b']
```

This is doing too much work and there already exists the `get_group` method that will do this for you:

```
>>> g = df.groupby('key')
>>> g.get_group('b')
```

The next example shows the rarely used groupby with `axis=1` and iterating through each group like this:

```
>>> grouped = df.groupby(df.dtypes, axis=1)
>>> for dtype, group in grouped:
        print(dtype)
        print(group)
```

There is no need to use groupby in this example. Pandas now comes equipped with the `select_dtpyes` method which can do the same thing in a more explicit manner like this:

```
for dtype in df.dtypes.unique():
    print(dtype)
    print(df.select_dtypes(dtype))
```    

####  Data Aggregation
There needs to be a clearer definition for the term 'aggregation'. PDA says an aggregations 'produces scalar values'. To be very precise, it should say, 'produces a single scalar value'.

PDA uses a list of two-item tuples for renaming columns within the `agg` groupby method. This is an undocumented feature and might get eliminated. Pandas recently deprecated the renaming of columns with a nested dictionary of dictionaries.

#### Apply: General split-apply-combine
The first example in this section uses the `apply` groupby method with a custom function to return the top tip percentages for each smoking/non-smoking group like this:

```
>>> def top(df, n=5, column='tip_pct'):
        return df.sort_values(by=column)[-n:]
        
>>> tips.groupby('smoker').apply(top)

```

There actually is no need to use `apply` as its possible to sort the entire DataFrame first and then group and take the top rows like this:

```
>>> tips.sort_values('tip_pct', ascending=False) \
        .groupby('smoker').head()

```

Or using the `nth` method like this:

```
>>> tips.sort_values('tip_pct', ascending=False) \
        .groupby('smoker').nth(list(range(5)))
```

The custom function should use `iloc` or `tail` to be explicit and not the indexing operator to select the last n rows.

In the next code block, extra arguments are passed to the custom function without any explanation of how it actually happens. There should be a discussion of `**kwargs` and `**args` which are part of the method signature.


#### Quantile and Bucket Analysis

There is some code that applies a custom to function to each group like this:
```
>>> def get_stats(group):
        return {'min': group.min(), 'max': group.max(),
                'count': group.count(), 'mean': group.mean()}
>>> grouped = frame.data2.groupby(quartiles)
>>> grouped.apply(get_stats).unstack()
```

There are a couple things here that would improve this. First, the most common syntax for the first line puts the column after the call to groupby. It makes it easier to read.

```
>>> frame.groupby(quartiles)['data2']
```

Second, PDA doesn't explain that returning a dictionary from `apply` on a groupby Series creates a MultiIndex. Chaining `unstack` here is just confusing. I would break this up into two steps.

#### Example: Group-Wise Linear Regression

The following function which computes simple linear regression: 

```
>>> def regress(data, yvar, xvars):
        Y = data[yvar]
        X = data[xvars]
        X['intercept'] = 1.
        result = sm.OLS(Y, X).fit()
        return result.params
        
>>> by_year.apply(regress, 'AAPL', ['SPX'])
```

Statsmodels has a builtin function to add the intercept so we can simplify it to:

```
>>> def regress(data, yvar, xvars):
        Y = data[yvar]
        X = sm.add_constant(data[xvars])
        result = sm.OLS(Y, X).fit()
        return result.params
        
>>> by_year.apply(regress, 'AAPL', 'SPX')
```

# Chapter 11. Time Series

### What it covers
* A few basics from the `datetime` standard library 
* Converting strings to timestamps with `pd.to_datetime`
* Using string to slice Series/DataFrames with DatetimeIndex
* Generating date ranges with `pd.date_range`
* Date/time offsets with the `pandas.tseries.offsets` module
* Shifting a DatetimeIndex an amout of time with `shift` with `freq` parameter
* Time zone explanation, creation and conversion and the `tz` parameter, `tz_convert/tz_localize` methods
* Period creation with `pd.Period/PeriodIndex`, ranges with `pd.period_range`
* Converting from/to Periods/Timestamps with `to_period/to_timestamp`
* Upsampling/downsampling with `resample`
* Moving window functionality with `rolling/expanding/ewm` 



## Chapter 11. Summary:

Chapter 11 on time series, is one of the driest and mechanical chapters of the entire book. Nearly all commands are executed with random or contrived data independently from other pandas commands. The [actual pandas time-series documentation](http://pandas.pydata.org/pandas-docs/stable/timeseries.html) covers this material in more detail.

This chapter was written at the latest during pandas 0.18 as it does not show the `on` parameter for the `resample` method in table 11.5. This parameter makes it possible to use `resample` on any column not just the one in the index. The parameter was added in version 0.19 and by the time of the book release pandas was on 0.20. Also missing is the `tshift` method, which should definitely been mentioned as a direct replacement for the `shift` method when shifting the index by a time period.

## Chapter 11.  Criticisms:

`to_datetime` is referred to as a method when it's a function. 

The `pd.isnull` function is used when the more idiomatic `isnull` method should be used. 

There should be mention of the `tshift` method which shortens the syntax for time-shifting of an index.

```
>>> s.shift(5, freq='D')

## becomes

>>> s.tshift('5D')
```

In the "Quarterly Period Frequencies" there is use of the aliases 'e' and 's' to refer to start and end without explanation.

You can tell that this book was written during Pandas version 0.18 as the `resample` method picked up a nice addition with the `on` parameter. This parameter is not seen in table 11-5 which shows the `resample` parameters.

# Chapter 12. Advanced Pandas

### What it covers
* Creating categorical type with `astype('category')`
* Creating categorical type with the constructor `pd.Categorical`
* Categorical methods with the `cat` accessor
* The `transform` groupby method
* Grouping by time and another variable with the deprecated `pd.TimeGrouper`
* Method chaining with `assign`, `pipe` and functions inside the inder `[ ]`


## Chapter 12. Summary:

This is one of the shortest chapters in the book and claims to have 'advanced' pandas operations. Most of the operations covered here are fundamental to the library. The section on method chaining does have a few more complex examples. 

One major flaw of this chapter is the use of the deprecated `pd.TimeGrouper` instead of `pd.Grouper`. PDA says that one of the limitations of `pd.TimeGrouper` is that it can only group times in the index. `pd.Grouper` has been able to do time grouping on columns other than the index for a long time. Additionally, it is possible to chain the `resample` method following the `groupby` method to do group by both time and any other groups of columns.


## Chapter 12.  Criticisms:

The `take` method, which preceded the development of the `.iloc` method is used here. No one uses this method and it should definitely be replaced with `.iloc`. Looking at stackoverflow's search feature, `df.take` returns [12 results](https://stackoverflow.com/search?q=%5Bpandas%5D+df.take) while `df.iloc` returns [over 2100 results](https://stackoverflow.com/search?q=%5Bpandas%5D+df.iloc).

This line really shows how PDA was not updated correctly. The iloc indexer is very important and is not used nearly as much as it should have been.

During the creation of the ordered categorical sequence, the `sort_values` method should have been used to show how sorting can be based on the categories numbers and not the string values themselves:


```
>>> categories = ['foo', 'bar', 'baz']

>>> codes = [0, 1, 2, 0, 0, 1]

>>> ordered_cat = pd.Categorical.from_codes(codes, categories, ordered=True)

### show original order
>>> ordered_cat
[foo, bar, baz, foo, foo, bar]
Categories (3, object): [foo < bar < baz]

>>> ordered_cat.sort_values()
[foo, foo, foo, bar, bar, baz]
Categories (3, object): [foo < bar < baz]
```

#### BETTER PERFORMANCE WITH CATEGORICALS

I think there was some code, perhaps accidentally, left out of this section. PDA mentions the performance increase with using categoricals but does not actually compute any performance except for the creation of the categorical. I think PDA meant to do a simple calculation like `value_counts` on each of the Series like this:

```
>>> N = 10000000
>>> draws = pd.Series(np.random.randn(N))
>>> labels = pd.Series(['foo', 'bar', 'baz', 'qux'] * (N // 4))
>>> categories = labels.astype('category')

>>> %timeit labels.value_counts()
1.14 s ± 20.8 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

>>> %timeit categories.value_counts()
41.7 ms ± 746 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)
```

#### CREATING DUMMY VARIABLES FOR MODELING
The example used in this section could have been much more powerful if it used integers instead of strings. Strings automatically get encoded with `pd.get_dummies`.  For instance, there isn't a need to force the column of strings to category:
```
>>> cat_s = pd.Series(['a', 'b', 'c', 'd'] * 2, dtype='category')
>>> s = pd.Series(['a', 'b', 'c', 'd'] * 2)

>>> d1 = pd.get_dummies(cat_s)
>>> d2 = pd.get_dummies(s)
>>> d1.equals(d2)
True
```

A better example would have used integers. `pd.get_dummies` ignores numerical columns but does make a new column for each categorical level no matter what its underlying data type is:

```
>>> s = pd.Series([50, 10, 8, 10, 50] , dtype='category')
>>> pd.get_dummies(s)

```

#### Grouped Time Resampling
This section has several problems. PDA promises to be updated to Pandas version 0.20 but it is not. The `resample` method, since version 0.19, has the `on` parameter. Let's see how PDA does the following operation:

```
>>> times = pd.date_range('2017-05-20 00:00', freq='1min', periods=N)
>>> df = pd.DataFrame({'time': times, 'value': np.arange(N)})

>>> df.set_index('time').resample('5min').count()
```

Using the latest versions of pandas, you can do this:

```
>>> df.resample('5min', on='time).count()
```

![](images/12_01_gd.png)

The next problem arises when grouping by both time and another column. PDA uses the deprecated `pd.TimeGrouper`, which has never had any documentation. PDA does the following:

```
>>> df2 = pd.DataFrame({'time': times.repeat(3),
                    'key': np.tile(['a', 'b', 'c'], N),
                    'value': np.arange(N * 3.)})
                    
>>> time_key = pd.TimeGrouper('5min')  # deprecated so never use

>>> resampled = (df2.set_index('time')
                    .groupby(['key', time_key])
                    .sum())
```
To do this using modern pandas, do the following:

```
>>> df2.groupby(['key', pd.Grouper(key='time', freq='5T')]).sum()
```

The groupby object actually has a `resample` method:

```
>>> df2.groupby('key').resample('5T', on='time').sum()
```
#### Techniques for Method Chaining
This section uses no actual data, so you can't actually run the code. 

Since this section is on method chaining it would make sense to use the `sub` method. The following code appears in PDA:

```
>>> df2.assign(col1_demeaned=df2.col1 - df2.col2.mean())
```

This can be replaced with:
```
>>> df2.assign(col1_demeaned=df2.col1.sub(df2.col2.mean()))
```

The next code block uses the "selection by callable" which you can [see here in the documentation](http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-callable). I am a little shocked that the `query` method is not mentioned in the entire book which can convert this ugly code that appears in PDA:

```
>>> df = (load_data()
      [lambda x: x['col2'] < 0])
```

To this:

```
>>> df = load_data().query('col2 < 0')
```

# Chapter 13. Introduction to Modeling Libraries in Python
### What it covers
* 


## Chapter 13. Summary:



## Chapter 13.  Criticisms:


The following section of code is from PDA and creates some fake data and a categorical column:

```
>>> data = pd.DataFrame({'x0': [1, 2, 3, 4, 5],
                         'x1': [0.01, -0.01, 0.25, -4.1, 0.],
                         'y': [-1.5, 0., 3.6, 1.3, -2.]})
                         
>>> data['category'] = pd.Categorical(['a', 'b', 'a', 'a', 'b'],
                                   categories=['a', 'b'])
```

This categorical column is then encoded as two separate columns, one for each category.

```
>>> dummies = pd.get_dummies(data.category, prefix='category')
>>> data_with_dummies = data.drop('category', axis=1).join(dummies)
```

There is a much easier way. You can just drop the whole DataFrame into `pd.get_dummies` and it will ignore the numeric columns while encoding all the object/category columns like this:

```
>>> pd.get_dummies(data)
```

There's actually a pretty cool application of `assign`, starred args and `get_dummies` that does this whole operation from data creation to final product in one step:

```
>>> data = pd.DataFrame({
   ....:     'x0': [1, 2, 3, 4, 5],
   ....:     'x1': [0.01, -0.01, 0.25, -4.1, 0.],
   ....:     'y': [-1.5, 0., 3.6, 1.3, -2.]})

data.assign(**pd.get_dummies(['a', 'b', 'a', 'a', 'b']))
```

The rest of the chapter covers patsy, statsmodels and scikit-learn libraries briefly. Patsy is not a commonly used library, so I'm not sure why it's even in the book. It's had no commits to it since February of 2017 and only a total of 46 total questions on stackoverflow. Compare this to the 50,000+ questions on pandas. 

# Chapter 14. Data Analysis Examples

### What it covers
* Reading in json with the json Python library
*


## Chapter 14. Summary:



## Chapter 14.  Criticisms:

#### USA.gov Data from Bitly
The `pd.read_json` function can and should be used to read in the data from bitly. This function has a new parameter, `lines`, that when set to `True` can read in multiple lines of json data directly into a DataFrame. This is rather large omission:

```
>>> frame = pd.read_json('datasets/bitly_usagov/example.txt', lines=True) 
```

After counting the time zones, PDA uses seaborn to do a barplot, which is fine but it is also one of the few instances where pandas can do it easier:

```
>>> frame.tz.value_counts().iloc[:10].plot(kind='barh')
```

There is the seaborn `countplot` that does do the counting like this with the need for `value_counts`, but it doesn't order and it doesn't sort:

```
>>> sns.countplot('tz', data=frame)
```

The field names need to be renamed for better comprehension. Having the column `a` refer to the internet browsers makes no sense. All the other columns are uninterpretable as well.

The code that counts the browsers is poor and can be significantly improved. Here is the original:

```
>>> results = pd.Series([x.split()[0] for x in frame.a.dropna()])
>>> results.value_counts()[:8]
```

It can be modernized to the following which uses the `str` accessor:

```
>>> frame['a'].str.split().str[0].value_counts().head(8)
```

There is a cross-tabulation between OS and timezone. It is done in the following manner:

```
>>> by_tz_os = cframe.groupby(['tz', 'os'])
>>> agg_counts = by_tz_os.size().unstack().fillna(0)
```

There is no need to chain fillna here as the `unstack` method has its own `fill_value` parameter:

```
>>> agg_counts = cframe.groupby(['tz', 'os']).size().unstack(fill_value=0)
```

You can also use the `crosstab` function directly:

```
>>> agg_counts = pd.crosstab(cframe['tz'], cframe['os'])
```

The following code block finds the top 10 time zones by row total using the old `take` method:

```
>>> indexer = agg_counts.sum(1).argsort()
>>> count_subset = agg_counts.take(indexer[-10:])
```

A more modern approach is with `.loc`:

```
>>> idx = agg_counts.sum(axis='columns').sort_values().index[-10:]
>>> count_subset = agg_counts.loc[idx]
```

You can actually use the `crosstab` function with the `margins` parameter to do all these steps in one line

```
>>> pd.crosstab(frame['tz'], frame['os'], margins=True).sort_values('All', ascending=False)
```

PDA uses seaborn to create a horizontal barplot. This is not an ideal usecase for  seaborn as the data is already aggregated. Seaborn works best with tidy un-aggregated data. Pandas is the correct tool for this. PDA uses 4 lines of code for this:

```
>>> count_subset = count_subset.stack()
>>> count_subset.name = 'total'
>>> count_subset = count_subset.reset_index()
>>> sns.barplot(x='total', y='tz', hue='os',  data=count_subset)
```

When only one line of code is needed for pandas

```
>>> count_subset.plot(kind='barh')
```

The next code block computes the percentage of windows/non-windows users by doing another groupby like this:

```
>>> def norm_total(group):
        group['normed_total'] = group.total / group.total.sum()
        return group

>>> results = count_subset.groupby('tz').apply(norm_total)
```

There is no need to do another groupby. In fact this whole exercise would have been much easier if the top 10 timezones were first stored into a variable.

```
>>> idx_top10 = frame['tz'].value_counts().index[:10]
```

The percentages could have been retrieved from pandas `crosstab` function with `normalize=True`:

```
>>> pd.crosstab(frame['tz'], frame['os'], normalize=True).loc[idx_top10]
```

#### MovieLens 1M Dataset

When reading in the data I strongly suggest to only use `read_csv` as there is no difference between it and  `read_table` other than the default delimiter. Also, there is a warning that is raised which can be eliminated with specifying `engine='python'`.

The top 5 rows of the table are displayed with `[:5]`, which I really dislike. This should be done using the `head` method.

PDA joins all three tables together like this:

```
>>> pd.merge(pd.merge(ratings, users), movies)
```

I prefer to use methods and be explicit with the joining columns:

```
>>> users.merge(ratings, on='user_id').merge(movies, on='movie_id')
```


The movies with at least 250 ratings are found in the next block of code like this:

```
>>> ratings_by_title = data.groupby('title').size()
>>> active_titles = ratings_by_title.index[ratings_by_title >= 250]
```

This would have been a good opportunity to use a 'callable by selection' after calling `value_counts`. There is no need for a `groupby` here. So, we can modify the above to this:

```
>>> active_titles = data['title'].value_counts()[lambda x: x >= 250].index
```

It would have also been an opportunity to use the `filter` groupby method which was not used at all during the entire book:

```
>>> data.groupby('movie_id')['title'].filter(lambda x: len(x) >= 250).drop_duplicates().values
```

Throughout this whole analysis and the whole book there is a noticeable absence of the `.iloc` indexing operator. I always use it and never use the indexing operator by itself to select rows with a slice.

#### US Baby Names 1880–2010

It would have been nice to see updated data to include 2016. There's even a link in the book to source of the data. It would have been so easy to update the data and should have been done. It shows the little amount of effort taken to update the book.

The book says it is updated to 3.6 so it might be good to show fstrings when doing string interpolation. Or to show the `format` method like this:

```
path = 'datasets/babynames/yob{}.txt'.format(year)
```

After all the baby names are concatenated into a single dataframe, PDA adds a column for the proportion for each name of each sex like this:

```
>>> def add_prop(group):
        group['prop'] = group.births / group.births.sum()
        return group
    
>>> names = names.groupby(['year', 'sex']).apply(add_prop)
```

Notice that in the `add_prop` function, the passed sub-dataframe is being modified and returned. There is no need to return an entire DataFrame here. Instead, you can change use the `transform` method on only the `births` column:

```
names['prop'] = names.groupby(['year', 'sex'])['births'].transform(lambda x: x / x.sum())
```

This is much more straightforward and about twice as fast.

PDA then offers two ways to get the top 1,000 names for each sex of each year. One way like this:

```
>>> def get_top1000(group):
        return group.sort_values(by='births', ascending=False)[:1000]
>>> grouped = names.groupby(['year', 'sex'])
>>> top1000 = grouped.apply(get_top1000)
>>> top1000.reset_index(inplace=True, drop=True)
```

Its possible to pre-sort the data and then use the `head` groupby method. This method also doesn't need any resetting or dropping of the index.

```
>>> names_sorted = names.sort_values(['year', 'sex', 'births'], ascending=[True, True, False])
>>> top1000 = names_sorted.groupby(['year', 'sex']).head(1000)
```

In the next code block, PDA gets the number of names it takes to make up 50% of the distribution for each year-sex grouping:

```
def get_quantile_count(group, q=0.5):
    group = group.sort_values(by='prop', ascending=False)
    return group.prop.cumsum().values.searchsorted(q) + 1

diversity = top1000.groupby(['year', 'sex']).apply(get_quantile_count)
```

There is no need to use `searchsorted` here. A simpler comparison against .5 would work the same and is faster.

```
>>> top1000.groupby(['year', 'sex']).apply(lambda x: (x.prop.cumsum() < .5).sum() + 1)
```

PDA extracts the last letter of each baby name like this:

```
>>> get_last_letter = lambda x: x[-1]
>>> last_letters = names.name.map(get_last_letter)
```

This is confusing as I have mentioned previously, `apply` and `map` do the same thing when passed a function. I always use `apply` here to differentiate the two.

Pandas has built-in functionality to get any character from a column of strings like this:

```
>>> names.name.str[-1]
```

Several steps follow to get the percentage of last letters for year and sex.

```
>>> table = names.pivot_table('births', index=last_letters,
                          columns=['sex', 'year'], aggfunc=sum)
                          
>>> subtable = table.reindex(columns=[1910, 1960, 2010], level='year')

>>> letter_prop = subtable / subtable.sum()

```

This can all be done much quicker by first filtering the data to just the years 1910, 1960, 2010 and then using `pd.crosstab`:

```
>>> names2 = names.query('year in [1910, 1960, 2010]')

>>> letter_prop = pd.crosstab(index=names2.name.str[-1], rownames=['last letter'],
                              columns=[names2.sex, names2.year], normalize='columns')
```

The plot of these letter proportions are plotted next with pandas. But, this would have been an excellent opportunity to use seaborn. There would be no need for any of this calculation of the `letter_prop` table. Seaborn does all this calculation under the hood.

```
>>> sns.factorplot(x='last_letter', y='prop', hue='year', 
                   data=names2.sort_values('last_letter'), 
                   kind='bar', row='sex', estimator=np.sum, ci=0)
```

The most interesting analysis in the whole book comes with the name Leslie name change from male to female. There are many more fun things to discover. Five thirty eight ran a [fun story on names](https://fivethirtyeight.com/features/how-to-tell-someones-age-when-all-you-know-is-her-name/) a few years back with many more interesting charts. See this one for the name 'Brittany':

![](images/14_brittany.png)

#### USDA Food Database

An entire chunk of code is missing from the book. It made it into the online Jupyter notebooks but I guess was forgot to be put into the actual book. This will be difficult for beginners to notice:

```
# Missing code from book
>>> nutrients = []

>>> for rec in db:
        fnuts = pd.DataFrame(rec['nutrients'])
        fnuts['id'] = rec['id']
        nutrients.append(fnuts)

>>> nutrients = pd.concat(nutrients, ignore_index=True)
```

PDA uses a convoluted way to find the food with the most nutrients:

```
>>> by_nutrient = ndata.groupby(['nutgroup', 'nutrient'])

>>> get_maximum = lambda x: x.loc[x.value.idxmax()]

>>> max_foods = by_nutrient.apply(get_maximum)[['value', 'food']]
```

A more clever approach involves sorting the column we want the maximum for (`value` in this case) and then dropping all rows other than the first in the group with `drop_duplicates`. You must use the `subset` parameter here:
```
>>> max_foods = ndata.sort_values('value', ascending=False).drop_duplicates(subset=['nutrient'])
```

#### 2012 Federal Election Commission Database
This should have been 2016 data since the book was published a year after the 2016 election.

The `unstack` method should be used with the `fill_value` parameter to fill in 0's wherever there is missing data. It does not and instead returns NaNs

---
# Code

# Chapter 5 Code

In [2]:
import pandas as pd
import numpy as np

In [3]:
s = pd.Series(data=[9, -5, 13], index=['a', 'b', 'c'])

In [4]:
images/05_04_dfslice.png

a     9
b    -5
c    13
dtype: int64

In [5]:
s[1]

-5

In [7]:
s['b']

-5

In [8]:
s.iloc[1]

-5

In [9]:
s.loc['b']

-5

In [10]:
df = pd.DataFrame(np.random.randn(4, 3), columns=list('abc'),
        index=['Quebec', 'Ontario', 'Alberta', 'Nova Scotia'])
df

                    a         b         c
Quebec       1.154130  0.301991 -0.759571
Ontario     -0.425998 -0.270541  0.532976
Alberta     -0.163457 -0.138279  1.279828
Nova Scotia -1.446225 -0.578367 -0.022417

In [12]:
df.apply(lambda x: x.max() - x.min())

a    2.600356
b    0.880358
c    2.039398
dtype: float64

In [13]:
df.max() - df.min()

a    2.600356
b    0.880358
c    2.039398
dtype: float64

In [15]:
s = pd.Series({'a':1, 'b':10}, index=['a', 'b', 'c'])
s

a     1.0
b    10.0
c     NaN
dtype: float64

In [16]:
s = pd.Series({'table':100, 'chair':40})
s

chair     40
table    100
dtype: int64

In [17]:
s.reset_index()

   index    0
0  chair   40
1  table  100

In [18]:
s.name='price'
s.index.name='item'
s.reset_index()

    item  price
0  chair     40
1  table    100

In [22]:
df = pd.DataFrame(np.random.rand(4, 3),
                      columns=['Table', 'Chair', 'Bed'],
                      index=['a', 'b', 'c', 'd'])
df

      Table     Chair       Bed
a  0.587026  0.622388  0.614905
b  0.857654  0.876305  0.117314
c  0.906308  0.865932  0.268340
d  0.726397  0.720055  0.087585

In [21]:
df[['Table', 'Bed']]

      Table       Bed
a  0.672490  0.772336
b  0.813925  0.095847
c  0.473302  0.230279
d  0.146679  0.346614

In [23]:
df[2:]

      Table     Chair       Bed
c  0.906308  0.865932  0.268340
d  0.726397  0.720055  0.087585

In [16]:
df = pd.DataFrame(np.random.rand(8, 3), 
                      columns=['Table', 'Chair', 'Bed'])
df

      Table     Chair       Bed
0  0.261308  0.621405  0.881686
1  0.215955  0.305033  0.155414
2  0.589533  0.263043  0.796692
3  0.852403  0.790783  0.170018
4  0.540780  0.574551  0.790692
5  0.698829  0.572204  0.369239
6  0.526655  0.606730  0.905878
7  0.527964  0.097550  0.180797

In [17]:
def f(x):
    return pd.Series([x.min(), x.max()], index=['min', 'max'])
        
df.apply(f)

        Table     Chair       Bed
min  0.215955  0.097550  0.155414
max  0.852403  0.790783  0.905878

In [15]:
df.agg(['min', 'max'])

        Table     Chair       Bed
min  0.028480  0.375552  0.403832
max  0.739077  0.974219  0.973146

In [30]:
df = pd.DataFrame({'a': [1, 3, 4, 3, 4],
                   'b': [2, 3, 1, 2, 3],
                   'c': [1, 5, 2, 4, 4]})

df.apply(pd.value_counts).fillna(0)

     a    b    c
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0

In [32]:
df = pd.DataFrame({'a': ['table', 'chair', 'chair', 'lamp', 'bed'],
                   'b': ['lamp', 'candle', 'chair', 'lamp', 'bed'],
                   'c': ['mirror', 'mirror', 'mirror', 'mirror', 'mirror']})

df.apply(pd.value_counts).fillna(0)

          a    b    c
bed     1.0  1.0  0.0
candle  0.0  1.0  0.0
chair   2.0  1.0  0.0
lamp    1.0  2.0  0.0
mirror  0.0  0.0  5.0
table   1.0  0.0  0.0

In [57]:
pd.crosstab(**df.melt(var_name='columns', value_name='index'))

columns  a  b  c
index
bed      1  1  0
candle   0  1  0
chair    2  1  0
lamp     1  2  0
mirror   0  0  5
table    1  0  0

# Chapter 6 Code

In [74]:
pd.read_csv('examples/ex3.txt', sep='\s+')

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [113]:
params = dict(lineterminator = '\n',
    delimiter = ';',
    quotechar = '"',
    quoting = csv.QUOTE_MINIMAL)

with open('examples/ex7.csv') as f:
    reader = csv.reader(f, **params)
    for line in reader:
        print(line)

['a,"b","c"']
['1,"2","3"']
['1,"2","3"']

# Chapter 7 Code

In [141]:
s = pd.Series(['Houston', 'Miami', 'Cleveland'])
states_map = {'houston':'Texas', 'miami':'Florida', 'cleveland':'Ohio'}

In [142]:
s.apply(lambda x: states_map[x.lower()])

0      Texas
1    Florida
2       Ohio
dtype: object

In [143]:
s1 = s.sample(1000000, replace=True)

In [144]:
%timeit s1.str.lower().map(states_map)

532 ms ± 44.8 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [145]:
%timeit s1.map({k.title(): v for k, v in states_map.items()})

83.4 ms ± 3.14 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [155]:
s = pd.Series(np.random.randn(1000))
s[s.abs() > 3]    # use pandas methods

168   -3.618197
494    3.030996
557    3.904664
dtype: float64

In [260]:
movies = pd.read_csv('datasets/movielens/movies.dat', sep='::', engine='python',
                       header=None, names=mnames)

In [261]:
movies.genres.str.split('|', expand=True).stack().unique()

array(['Animation', "Children's", 'Comedy', 'Adventure', 'Fantasy',
       'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror',
       'Sci-Fi', 'Documentary', 'War', 'Musical', 'Mystery', 'Film-Noir',
       'Western'], dtype=object)

In [262]:
d = {}
for key, values in movies.genres.items():
    for v in values.split('|'):
        if v in d:
            d[v].update({key:1})
        else:
            d[v] = {key:1}       
df = movies.join(pd.DataFrame(d).fillna(0))

In [264]:
df.head()

,movie_id,title,genres,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),Animation|Children's|Comedy,0.0,0.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji (1995),Adventure|Children's|Fantasy,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men (1995),Comedy|Romance,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale (1995),Comedy|Drama,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II (1995),Comedy,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [271]:
genres_stacked = movies.genres.str.split('|', expand=True).stack()
df_ind = pd.get_dummies(genres_stacked)
df_ind_total = df_ind.groupby(level=0).sum()
df = movies.join(df_ind_total)
df.head()

,movie_id,title,genres,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),Animation|Children's|Comedy,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure|Children's|Fantasy,0,1,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy|Drama,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II (1995),Comedy,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

# Chapter 8 code

In [308]:
s = pd.Series([10,3,2,11], index=[['a', 'a', 'b', 'b'],[1,2,3,1]])
s

a  1    10
   2     3
b  3     2
   1    11
dtype: int64

In [309]:
s.loc['a']

1    10
2     3
dtype: int64

In [310]:
s.loc[['a']]

a  1    10
   2     3
dtype: int64

# Chapter 10 Code

In [567]:
tips = pd.read_csv('examples/tips.csv')
tips['tip_pct'] = tips['tip'] / tips['total_bill']

In [568]:
tips.groupby('smoker').apply(top)

            total_bill   tip smoker   day    time  size   tip_pct
smoker
No     88        24.71  5.85     No  Thur   Lunch     2  0.236746
       185       20.69  5.00     No   Sun  Dinner     5  0.241663
       51        10.29  2.60     No   Sun  Dinner     2  0.252672
       149        7.51  2.00     No  Thur   Lunch     2  0.266312
       232       11.61  3.39     No   Sat  Dinner     2  0.291990
Yes    109       14.31  4.00    Yes   Sat  Dinner     2  0.279525
       183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
       67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
       178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
       172        7.25  5.15    Yes   Sun  Dinner     2  0.710345

In [569]:
tips.sort_values('tip_pct', ascending=False).groupby('smoker').head()

     total_bill   tip smoker   day    time  size   tip_pct
172        7.25  5.15    Yes   Sun  Dinner     2  0.710345
178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
232       11.61  3.39     No   Sat  Dinner     2  0.291990
183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
109       14.31  4.00    Yes   Sat  Dinner     2  0.279525
149        7.51  2.00     No  Thur   Lunch     2  0.266312
51        10.29  2.60     No   Sun  Dinner     2  0.252672
185       20.69  5.00     No   Sun  Dinner     5  0.241663
88        24.71  5.85     No  Thur   Lunch     2  0.236746

In [570]:
tips.sort_values('tip_pct', ascending=False).groupby('smoker').nth(list(range(5)))

         day  size    time   tip   tip_pct  total_bill
smoker
No       Sat     2  Dinner  3.39  0.291990       11.61
No      Thur     2   Lunch  2.00  0.266312        7.51
No       Sun     2  Dinner  2.60  0.252672       10.29
No       Sun     5  Dinner  5.00  0.241663       20.69
No      Thur     2   Lunch  5.85  0.236746       24.71
Yes      Sun     2  Dinner  5.15  0.710345        7.25
Yes      Sun     2  Dinner  4.00  0.416667        9.60
Yes      Sat     1  Dinner  1.00  0.325733        3.07
Yes      Sun     4  Dinner  6.50  0.280535       23.17
Yes      Sat     2  Dinner  4.00  0.279525       14.31